LinalColloc01.aux
DefinicionClases.sty
LinalColloc01.fdb_latexmk
LinalColloc01.fls
LinalColloc01.loe
LinalColloc01.log
LinalColloc01.out
LinalColloc01.synctex.gz
LinalColloc01.toc
LinalColloc01.upa
LinalColloc01.upb
LinalColloc01.pdf