MatanColloc02.aux
DefinicionClases.sty
MatanColloc02.fdb_latexmk
MatanColloc02.fls
MatanColloc02.loe
MatanColloc02.log
MatanColloc02.out
MatanColloc02.synctex.gz
MatanColloc02.toc
MatanColloc02.upa
MatanColloc02.upb
MatanColloc02.pdf